[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm run build"
  publish = "dist"
  environment = { NODE_VERSION = "18" }

[dev]
  port = 5173
  command = "npm run dev"
